#list {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

@font-face {  /* 声明字体 */
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?8qhwk5');
    src:  url('../fonts/icomoon.eot?8qhwk5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8qhwk5') format('truetype'),
    url('../fonts/icomoon.woff?8qhwk5') format('woff'),
    url('../fonts/icomoon.svg?8qhwk5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

#list li {
    height: 610px;
    width: 100%;
    /*background: #bdff12 url(../images/);*/
    position: relative;
    background-color: #fff;
}
#list li:nth-child(1) {
    background: rgba(0, 0, 0, 0.5);
}

#list li .h1title {
    width: 403px;
    height: 86px;
    background: url(../images/h1title.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    left: 50%;
    margin-left: -201px;
    top: 254px;
}

#list li .h1title div {
    position: absolute;
    width: 190px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    border: 1px solid white;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

#list li .h1title .loginbtn {
    background-color: #00bbee;
    border: 1px solid #00bbee;
    left: 0;
    bottom: -44px;
}

#list li .h1title .loginbtn:hover {
    background-color: #00A0D3;
    border: 1px solid #00bbee;
}

#list li .h1title  .register {
    right: 0;
    bottom: -44px;
}

/*播放按钮*/
#videoPlay {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    margin-top: -16px;
    right: -62px;
    font-family: 'icomoon';
    font-size: 32px;
    color: white;
    cursor: pointer;
}

#bottombtn {
    font-family: 'icomoon';
    color: white;
    position: fixed;
    width: 46px;
    height: 46px;
    font-size: 46px;
    left: 50%;
    margin-left: -23px;
    top: 526px;
    cursor: pointer;
    z-index: 999999999;
    outline: none;
}

#lunboqiubtn {
    position: fixed;
    width: 13px;
    height: 170px;
    right: 14px;
    top: 264px;
    z-index: 999999999;
}

#lunboqiubtn li {
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #cdcdcd;
    margin-bottom: 14px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

#lunboqiubtn .bgcolor {
    background-color: #00ccff;
    border: 1px solid #00ccff;
}

/*轮播图*/
#list li:nth-child(2) {
    overflow: hidden;
    position: relative;

}

/*第二轮播页*/
.twolistbg {
    background: url(../images/lun2-bg_xg.jpg) no-repeat center center;
    height: 640px;
    width: 105%;
    background-size: cover;
    transition: all 5s linear;
    position: absolute;
    left: -35px;
    top: -20px;
}

/*鼠标移入，图像远移效果*/
#list li:nth-child(2) .twolistbg:hover{
    transform: translate3d(0,0,-5px);
}

/*底部遮盖层*/
.btomtwozhe {
    height: 60px;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 111;
}
/*文本描述图*/
.textImg {
    position: absolute;
    width: 309px;
    height: 164px;
    top: 164px;
    left: 372px;
    background: url(../images/lun2_txt_xg.png) no-repeat left top;
    background-size: cover;
    display: none;
}
/*人像图*/
.figure {
    /*float: right;*/
    position: absolute;
    width: 667px;
    height: 610px;
    bottom: 0;
    right: 0;
    background: url(../images/lun2_xg.png) no-repeat left top;
    background-size: cover;
}
.renminbi {
    padding: 0 10px;
    height: 32px;
    width: 30px;
    float: left;
    margin: 12px 0 0 115px;
    border-right: 1px solid #b4b4b3;
    /*margin-right: 424px;*/
}

.renminbi i,.renminbi1 i,.renminbi2 i,.renminbi3 i {
    font-family: 'icomoon';
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.renminbitxt {
    float: left;
    /*width: 288px;*/
    height: 32px;
    position: absolute;
    top: 0;
    margin: 12px 0 0 177px;
    color: white;
}
.renminbitxt p,.renminbi1 p,.renminbi2 p,.renminbi3 p {
    font-size: 14px;
    margin-bottom: -6px;
}

.renminbitxt span {
    display: inline-block;
    font-size: 12px;
    /*margin-top: -2px;*/
}

/*第三轮播页*/
#list li:nth-child(3) {
    overflow: hidden;
}

.threelistbg {
    background: url(../images/lun3_bg_xg.jpg) no-repeat center center;
    height: 610px;
    width: 100%;
    background-size: cover;
}

/*<!--手机扫码特效-->*/
/*<!--扫码机-->*/
.scanCode {
    position: absolute;
    top: -380px;
    left: 50px;
}
/*<!--手机二维码-->*/
.phoneorCode {
    position: absolute;
    bottom: -502px;
    right: -195px;
}

/*遮盖层*/
.boxre1 {
    float: left;
    width: 250px;
    margin-right: 200px;
}
.btomtwozhe .boxrestyle {
    margin-right: 0;
}

/*结个账没那么好奇吧*/
.textthreeImg {
    position: absolute;
    width: 440px;
    height: 200px;
    background: url(../images/lun3_txt_xg.png) no-repeat left top;
    top: 80px;
    right: 280px;
    display: none;
}

/*第四轮播页*/
#list li:nth-child(4) {
    overflow: hidden;
}
.fourlistbg {
    width: 100%;
    height: 610px;
    background: url(../images/lun4_bg_xg.jpg) no-repeat center center;
    background-size: cover;
    /*margin-left: -20%;*/
    transition: all 5s linear;
    position: absolute;
    left: 0px;
    top: 0px;
}

.fourlistbg:hover {
    transform: translate3d(0,0,5px);
}
/*就是要这种范儿*/
.textfourImg {
    width: 400px;
    height: 160px;
    background: url(../images/lun4_txt_xg.png) no-repeat left top;
    background-size: contain;
    position: absolute;
    left: 250px;
    top: 95px;
    display: none;
}

/*第五轮播页*/
#list li:nth-child(5) {
    background: url(../images/lun5_bg_xg.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.fivelistbg {
    width: 100%;
    height: 610px;
    background-color: rgba(0,0,0,0);
    /*margin-left: -20%;*/
    transition: all 5s;
}
.fivelistbg:hover {
    background-color: rgba(0,0,0,0.5);
}
/*底部遮盖层*/
.boxre2 {
    float: left;
    width: 250px;
    margin-right: 40px;
}
/*理财那么小件事*/
.textfiveImg {
    width: 320px;
    height: 180px;
    background: url(../images/lun5_txt_xg.png) no-repeat left top;
    background-size: contain;
    position: absolute;
    top: 88px;
    right: 280px;
    display: none;
}

/*第六轮播页*/
#list li:nth-child(6) {
    overflow: hidden;
    /*background-color: #47ff85;*/
}
.sixlistbg {
    width: 105%;
    height: 650px;
    background: url(../images/lun6_bg_xg.jpg) no-repeat center center;
    background-size: cover;
    transition: all 5s linear;
    position: absolute;
    left: -35px;
    top: -20px;

}
.sixlistbg:hover {
    transform: translate3d(0,0,-5px);
}
/*去医院我不排队*/
.textsixImg {
    width: 320px;
    height: 180px;
    background: url(../images/lun6_txt_xg.png) no-repeat left top;
    background-size: contain;
    position: absolute;
    left: 180px;
    top: 90px;
    display: none;
}

/*第七轮播页*/
#list li:nth-child(7) {
    overflow: hidden;
    /*background-color: #47ff85;*/
}
/*业务介绍*/
.business {
    width: 100%;
    height: 420px;
    background-color: #f5f5f5;
    overflow: hidden;
}
/*版心*/
.typePage {
    width: 1184px;
    height: 340px;
    margin: 80px auto;
    /*background-color: #2dff22;*/
}
/*版心上*/
.typePagetop {
    height: 143px;
    width: 100%;
    border-bottom: 1px solid #eee;
}

#typePage #typePagetop ul {
    float: left;
    margin-top: 48px;
}
#typePage #typePagetop ul li {
    float: left;
    width: 174px;
    height: 60px;
    margin-right: 122px;
    background-color: transparent;
}
#typePagetop ul li:first-child {
    background-color: transparent;
}

#typePagetop ul li:last-child {
    margin-right: 0;
}
#typePagetop ul p {
    display: block;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    position: relative;
}
#typePagetop ul p i {
    font-size: 32px;
}

#typePagetop ul p span {
    position: absolute;
    left: 56px;
    top: 0px;
}
#typePagetop ul .foncolor {
    color: #999;
}
/*字体图标颜色*/
#typePagetop ul li:nth-child(1) i {
    color: #ffb400;
}
#typePagetop ul li:nth-child(2) i {
    color: #47a8ef;
}
#typePagetop ul li:nth-child(3) i {
    color: #ff6600;
}
#typePagetop ul li:nth-child(4) i {
    color: #47a8ef;
}

#typePagetop a {
    color: #999;
    padding-bottom: 2px;
}
#typePage #typePagetop li p a:hover {
    border-bottom: 1px solid #999;
}

    /*版心下*/
.typePagebtom {
    width: 100%;
    height: 196px;
}

#typePagebtom ul {
    float: left;
    margin-top: 45px;
}
#typePagebtom ul li {
    float: left;
    width: 270px;
    height: 151px;
    background-color: transparent;
    margin-right: 26px;
    font-size: 12px;
    color: #999;
    position: relative;
}
#typePagebtom ul li i {
    font-style: normal;
}
#typePagebtom ul li a {
    color: #999;
    cursor: pointer;
}
#typePagebtom ul li a:hover {
    text-decoration: underline;
}
#typePagebtom ul li span {
    font-size: 14px;
    color: #666;
}
#typePagebtom ul li:first-child {
    background-color: transparent;
}
#typePagebtom ul li p {
    line-height: 27px;
    white-space: nowrap;
}
#typePagebtom ul .weilastlist img {
    position: absolute;
    left: 0;
    top: 25px;
    width: 84px;
    height: 84px;
    border: 1px solid #e9e9e9;
}

/*省略符号处理*/
#typePagebtom .txtellips {
    width: 212px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#typePagebtom .lastlist {
    line-height: 27px;
}
#typePagebtom ul li h4 {
    display: inline-block;
    font-size: 12px;
    color: #000;
}
#typePagebtom ul li input[type="button"] {
    display: inline-block;
    border: 0;
    background-color: #959595;
    width: 78px;
    height: 22px;
    color: white;
    cursor: pointer;
}

/*最后一个li背景图*/
#typePagebtom ul li:last-child {
    position: relative;
    /*background: #fff url(../images/lun7_lastlibg_xg.jpg) no-repeat right top;*/
    overflow: visible;
}
#typePagebtom ul li:last-child img {
    position: absolute;
    top: 0;
    right: -40px;
}
/*底部友情链接*/
.links {
    width: 100%;
    height: 190px;
    background-color: #1e1b29;
    font-size: 12px;
    color: #999;
    overflow: hidden;
}

#links a {
    color: #999;
    cursor: pointer;
    display: inline-block;
    padding: 0 5px 0 5px;
    border-right: 1px solid #999;
    height: 12px;
    line-height: 10px;
}

#links p {
    margin-left: 82px;
    line-height: 23px;
}
#links .firstp {
    margin-top: 30px;
}

/*底部精灵图*/
.btomjlimg {
    width: 370px;
    margin-left: 88px;
    margin-top: 22px;
    background-color: #3432ff;
}
.btomjlimg .btombox {
    float: left;
    width: 67px;
    height: 30px;
    background: url(../images/lun7_jinling_xg.png) no-repeat left top;
    background-position: -2px -24px;
    margin-right: 24px;
}
.btomjlimg .btombox:nth-child(1) {
    width: 34px;
}
.btomjlimg .btombox:nth-child(1):hover {
    background-position: 0px -68px;
}

.btomjlimg .btombox:nth-child(2) {
    background-position: -68px -20px;
}
.btomjlimg .btombox:nth-child(2):hover {
    background-position: -66px -65px;
}

.btomjlimg .btombox:nth-child(3) {
    width: 53px;
    background-position: -149px -20px;
}
.btomjlimg .btombox:nth-child(3):hover {
    background-position: -147px -65px;
}

.btomjlimg .btombox:nth-child(4) {
    width: 20px;
    background-position: -231px -22px;
}
.btomjlimg .btombox:nth-child(4):hover {
    background-position: -229px -66px;
}

.btomjlimg .btombox:nth-child(5) {
    width: 26px;
    background-position: -390px -24px;
}
.btomjlimg .btombox:nth-child(5):hover {
    background-position: -390px -64px;
}